<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-8 blog-main">
	  <% @videos.each do |video| %>
	    <%= render video %>   
	  <% end %>
	<br>
  </div>
  <%= render 'layouts/sidebar' %>
</div>
<%= link_to 'New Video', new_video_path %>
