<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href='/'>Home</a>
      <a class="blog-nav-item" href="/skiers">Skiers</a>
      <a class="blog-nav-item" href="/tags">Tags</a>
    </nav>
  </div>
</div>